/* app.css */

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
    /* Color scheme */
    --col-bg: #101515;
    --col-bg-light: #273536;
    --col-button-bg: #273536;
    --col-text: #BAFFBA;
    --col-alert: #8E0A1F;


    --col-black: #0A1006;
    --col-darkgray: #0f1919;
    --col-gray: #132225;
    --col-lightgray: #273536;
    --col-blue: #082231;
    --col-lightblue: #5EEBE3;
    --col-yellow: #F5D522;
    --col-red: #8E0A1F;
}

* {
    /* Minimal reset */
    padding: 0;
    margin: 0;
}

body {
    background: var(--col-bg);
    font-family: 'Oswald', sans-serif;
}

header {
    width: 100%;
    height: 64px;
    text-align: center;
}

header > .title {
    font-family: 'Lobster', cursive;
    color: var(--col-bg-light);
    text-shadow: 2px 2px 8px var(--col-yellow), -2px -2px 8px var(--col-lightblue);
    font-size: 24pt;
    padding-top: 16px;
}


#field-controls {
    text-align: center;
    margin: 30px;
    font-size: 12pt;
}

.button {
    --accent-color: var(--col-lightblue);

    cursor: pointer;
    user-select: none;

    margin: 8px;
    padding: 8px 32px;
    background: var(--col-button-bg);
    color: var(--accent-color);
    text-shadow: 0 0 2px var(--accent-color);
}

.button.main {
    --accent-color: var(--col-yellow);
}

.button.active {
    box-shadow: 0 0 4px 2px var(--accent-color);
}

.game-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px
}

.cells-row {
    display: flex;
    flex-direction: row;
}

.cell-wrapper {
    margin: 8px;
    padding: 8px;
    background: var(--col-lightgray);
}

.cell-wrapper[data-cell-highlight="true"] {
    box-shadow: 0 0 4px 1px var(--col-yellow);
}

.cell {
    cursor: pointer;
    height: 32px;
    width: 32px;
    background: var(--col-gray);
}

.cell[data-cell-activated="true"] {
    background: var(--col-lightblue);
    box-shadow: 0 0 8px 0 var(--col-lightblue);
}

.note {
    color: var(--col-text);
    background: var(--col-alert);
    box-sizing: border-box;
    padding: 8px 0 0 0;
    height: 56px;
    text-align: center;
    font-size: 18pt;
    margin: 30px 120px;
}
